<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plist version="1.0">
    <dict>
        <key>PreferenceSpecifiers</key>
        <array>
            <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>Key</key>
                <string/>
                <key>Title</key>
                <string>Sensores</string>
                <key>FooterText</key>
                <string/>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSToggleSwitchSpecifier</string>
                <key>Key</key>
                <string>tsGPS</string>
                <key>Title</key>
                <string>GPS</string>
                <key>DefaultValue</key>
                <false/>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSToggleSwitchSpecifier</string>
                <key>Key</key>
                <string>tsBLE</string>
                <key>Title</key>
                <string>BLE</string>
                <key>DefaultValue</key>
                <false/>
            </dict>
        </array>
    </dict>
</plist>
